<?xml version="1.0" encoding="UTF-8"?>
<!-- Spring Mvc 框架 配置文件
    Spring Version: 4.3.2.RELEASE
  -->
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

    <!-- 激活一系列Spring容器内部的注解，resources,austoware等注解 -->
    <context:annotation-config />


    <!-- 扫描路径, 启用注解，并定义组件查找规则 ，mvc层只负责扫描@Controller
        Spring 自动去扫描base-package下面的包或者子包下面的Java文件.
        use-default-filters 默认为true，将，会将base-package指定属性下子包所有@Service/@Repository Bean 注入进Spring容器。
        为了防止这个动作，use-default-filters 设置为false。
        同时base-package 设置属性最后设置为controller的基package。

      -->
    <context:component-scan base-package="org.vincent.web.front.controller" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <!-- 基于注解的处理映射器，根据请求查找映射 -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" />
    <!-- 基于注解的处理适配器。 完成对@RequestMapping 注解方法的调用 -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <!--json视图拦截器，读取到注解@ResponseBody的时候去配置它-->
                <ref bean="mappingJacksonHttpMessageConverter"/>
            </list>
        </property>
    </bean>
    <!--json转化器，它可以将结果转化从JavaBean 转为JSON 字符串
      用于处理响应结果返回json字符串时候使用
      -->
    <bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>application/json;charset=UTF-8</value>
                <!-- 为啥用字符串常量不行呢？ -->
                <!--<value>APPLICATION_JSON_UTF8_VALUE</value>-->
            </list>
        </property>
    </bean>

    <!-- 视图处理器 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- prefix 前缀 表示资源基目录
            suffix 后缀 表示资源文件类型
         -->
        <property name="prefix" value="/WEB-INF/view/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <!-- 手动配置 Controller -->
    <!-- 配置一个Handle 处理info 请求的 控制器。 -->
    <bean name="/info" class="org.vincent.web.front.controller.InfoController"/>
    <!-- 需要handle bean 配置name属性，设置处理映射器将Handle bean 的name属性作为url进行查找。 -->
    <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
        <!-- 确定 这个处理映射器的 优先级 ，order 越小优先级越大 -->
        <property name="order" value="2"/>
    </bean>
    <!-- 处理器适配器，所有处理器适配器都需要实现的HandlerAdapter接口。 -->
    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>

    <!-- 激活基于注解的配置 @RequestMapping, @ExceptionHandler,数据绑定 ,@NumberFormat ,
    @DateTimeFormat ,@Controller ,@Valid ,@RequestBody ,@ResponseBody等
     注册HandlerMapper、HandlerAdapter两个映射类
     -->
    <mvc:annotation-driven />
    <!-- 访问静态资源 -->
    <mvc:default-servlet-handler />
    <!-- use handle the static resource -->
    <mvc:resources mapping="/static/**" location="/static/" />
    <!--<mvc:resources mapping="/*.html" 	location="/" />
    <mvc:resources mapping="/pviews/**" location="/pviews/" />-->
</beans>